Stock2.json
{"flowContents":{"identifier":"9369c67e-1de3-344b-acba-71727e5d8fbc","instanceIdentifier":"b3434256-ddd5-1fea-9b0e-7f854f110cd1","name":"Stock2","comments":"","position":{"x":700.4266992540456,"y":2145.000045986823},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b830bff1-62e4-3de7-a1bc-eb14e4fe4b4a","instanceIdentifier":"b343426e-ddd5-1fea-d055-4e8d29580121","name":"UpdateRecord timestamps","comments":"","position":{"x":264.0,"y":665.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","replacement-value-strategy":"record-path-value","/dt":"format(/datetime,\"yyyy/MM/dd HH:mm:SS\")"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/dt":{"name":"/dt","displayName":"/dt","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#1bb00a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"290cdf5e-979f-3137-945a-3829c0fde5ac","instanceIdentifier":"b3434272-ddd5-1fea-21fe-c43b65cccba2","name":"Query and Convert","comments":"","position":{"x":272.0,"y":289.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"false","dbf-default-precision":"10","record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#1bb00a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"9f18b241-4d76-3dfc-ac1c-a6173ecb8ca0","instanceIdentifier":"b3434268-ddd5-1fea-1db6-f01b111ff24f","name":"Get Time Series Stock GOOGLE","comments":"","position":{"x":1096.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"25 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"True","idle-timeout":"3 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.twelvedata.com/time_series?symbol=GOOG&interval=1min&apikey=f&outputsize=5000","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"3","invokehttp-proxy-user":null,"Read Timeout":"45 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"4096","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"http-stocks2-ibm-nifi"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"65 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"dae8b43e-5467-33aa-a612-c11211bdab14","instanceIdentifier":"b3434269-ddd5-1fea-e36d-05c3026db7bb","name":"Stocks","comments":"","position":{"x":264.0,"y":-87.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema":"stocks","Delete Attributes Expression":null,"mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"stocks","mime.type":"application/json","content-type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json"},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"caa6ea30-966e-3189-aeb8-e38b0ef5a5ce","instanceIdentifier":"b343426a-ddd5-1fea-b790-6619aa13e589","name":"ForkRecord","comments":"","position":{"x":264.0,"y":97.0},"type":"org.apache.nifi.processors.standard.ForkRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"path":"/values","include-parent-fields":"true","record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","fork-mode":"extract"},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"include-parent-fields":{"name":"include-parent-fields","displayName":"Include Parent Fields","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"fork-mode":{"name":"fork-mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#e8970c"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"9cf1c082-38b7-3ea6-9fc5-dfb4750b827b","instanceIdentifier":"b343426c-ddd5-1fea-de7b-f3552baffe44","name":"Set Stock Ticker","comments":"","position":{"x":568.0,"y":-287.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"symbol":"IBM","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"3a514e8c-a35f-3522-a3d8-2ec4086aecdc","instanceIdentifier":"b343426b-ddd5-1fea-c900-cc3d7d68619b","name":"Get Time Series Stock SNOW","comments":"","position":{"x":104.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"25 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"True","idle-timeout":"1 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.twelvedata.com/time_series?symbol=SNOW&interval=1min&apikey=x&outputsize=5000","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"3","invokehttp-proxy-user":null,"Read Timeout":"45 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"4096","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"http-stocks2-nifi"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"e5e4af7a-de3c-32ef-9e4b-21a6e1c87b30","instanceIdentifier":"b343426f-ddd5-1fea-389c-29d1f7802fba","name":"Set Stock Ticker","comments":"","position":{"x":1112.0,"y":-280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"symbol":"GOOG","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"f702ef83-ab23-3177-92b5-99e8b9d618a6","instanceIdentifier":"b3434270-ddd5-1fea-c6b0-d86b1c6de76e","name":"Update uuid, ts, and Symbol","comments":"","position":{"x":272.0,"y":473.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"/datetime":"${field.value:toDate(\"yyyy-mm-dd HH:mm:ss\"):toNumber()}","record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","/uuid":"${uuid}","/symbol":"${symbol}","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","replacement-value-strategy":"literal-value","/ts":"${now():toNumber()}"},"propertyDescriptors":{"/datetime":{"name":"/datetime","displayName":"/datetime","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false},"/symbol":{"name":"/symbol","displayName":"/symbol","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#1bb00a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"42af02b1-84b7-30fd-bbb8-8e67d9e414fe","instanceIdentifier":"b343426d-ddd5-1fea-79f1-8fb68ecc67e5","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":264.0,"y":1064.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"compression.type":"none","attribute-name-regex":"filename,avro.schema,schema.name","record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","bootstrap.servers":"kafka:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"65082c66-1ad9-3cd8-b360-8b2bddf216b4","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifi-stocks","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"stocks2","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"e1b552ac-99f8-3246-b9d3-6a1c545b2ad8","instanceIdentifier":"b3434274-ddd5-1fea-3e34-d1531478f60b","name":"RetryFlowFile","comments":"","position":{"x":272.0,"y":1296.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"164b05e2-85d7-3208-9b94-b937e256c99e","instanceIdentifier":"b3434271-ddd5-1fea-648f-636955842252","name":"UpdateRecord timestamps","comments":"","position":{"x":272.0,"y":872.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"/datetime":"${field.value:format(\"yyyy/MM/dd HH:mm:SS\", \"EST\")}","record-writer":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","record-reader":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/datetime":{"name":"/datetime","displayName":"/datetime","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#1bb00a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"0d2e57e0-1030-32b1-a03c-1b93a300872d","instanceIdentifier":"b3434273-ddd5-1fea-c37a-1ec663cab71f","name":"Get Time Series Stock IBM","comments":"","position":{"x":560.0,"y":-496.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"25 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"True","idle-timeout":"3 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.twelvedata.com/time_series?symbol=IBM&interval=1min&apikey=x&outputsize=50","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"3","invokehttp-proxy-user":null,"Read Timeout":"45 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"4096","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"http-stocks2-ibm-nifi"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"65 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"80818ec8-3c56-3392-b54d-0522fe5449f6","instanceIdentifier":"b3434267-ddd5-1fea-937d-a1f7db86e87d","name":"Set Stock Ticker","comments":"","position":{"x":112.0,"y":-287.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"symbol":"SNOW","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"symbol":{"name":"symbol","displayName":"symbol","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e26e33bf-a555-3378-aee2-a5e6af7e2807","instanceIdentifier":"b3434289-ddd5-1fea-8280-9f7d42bfb357","name":"","source":{"id":"80818ec8-3c56-3392-b54d-0522fe5449f6","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b3434267-ddd5-1fea-937d-a1f7db86e87d"},"destination":{"id":"dae8b43e-5467-33aa-a612-c11211bdab14","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Stocks","comments":"","instanceIdentifier":"b3434269-ddd5-1fea-e36d-05c3026db7bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"bd235ccc-11c9-3f91-9613-11baae7caa27","instanceIdentifier":"b3434281-ddd5-1fea-1bb2-526ff75082a9","name":"","source":{"id":"9f18b241-4d76-3dfc-ac1c-a6173ecb8ca0","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock GOOGLE","comments":"","instanceIdentifier":"b3434268-ddd5-1fea-1db6-f01b111ff24f"},"destination":{"id":"9f18b241-4d76-3dfc-ac1c-a6173ecb8ca0","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock GOOGLE","comments":"","instanceIdentifier":"b3434268-ddd5-1fea-1db6-f01b111ff24f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1554.9947509765625,"y":-461.2937927246094},{"x":1554.9947509765625,"y":-411.2937927246094}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"3ce7bfb4-6994-3c85-a909-e3623f07af59","instanceIdentifier":"b343428c-ddd5-1fea-6cf5-392928b1dfdb","name":"","source":{"id":"0d2e57e0-1030-32b1-a03c-1b93a300872d","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock IBM","comments":"","instanceIdentifier":"b3434273-ddd5-1fea-c37a-1ec663cab71f"},"destination":{"id":"9cf1c082-38b7-3ea6-9fc5-dfb4750b827b","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b343426c-ddd5-1fea-de7b-f3552baffe44"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"65e04c4b-48fc-3cec-9f4d-975b6a814132","instanceIdentifier":"b3434276-ddd5-1fea-d0db-9a860244267f","name":"","source":{"id":"290cdf5e-979f-3137-945a-3829c0fde5ac","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Query and Convert","comments":"","instanceIdentifier":"b3434272-ddd5-1fea-21fe-c43b65cccba2"},"destination":{"id":"0144f95b-1dd3-36d4-a029-724653a4e64e","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434263-ddd5-1fea-62e4-bdb6c45c67fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"31100345-6d49-3ffe-8584-7c0dfbd7ab29","instanceIdentifier":"b343428a-ddd5-1fea-7415-9b38adf8af40","name":"","source":{"id":"caa6ea30-966e-3189-aeb8-e38b0ef5a5ce","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"ForkRecord","comments":"","instanceIdentifier":"b343426a-ddd5-1fea-b790-6619aa13e589"},"destination":{"id":"290cdf5e-979f-3137-945a-3829c0fde5ac","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Query and Convert","comments":"","instanceIdentifier":"b3434272-ddd5-1fea-21fe-c43b65cccba2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fork"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"ab995ea2-1b7a-33ec-99e9-43b0c46eae9d","instanceIdentifier":"b3434285-ddd5-1fea-af8b-a76331357613","name":"","source":{"id":"0d2e57e0-1030-32b1-a03c-1b93a300872d","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock IBM","comments":"","instanceIdentifier":"b3434273-ddd5-1fea-c37a-1ec663cab71f"},"destination":{"id":"0d2e57e0-1030-32b1-a03c-1b93a300872d","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock IBM","comments":"","instanceIdentifier":"b3434273-ddd5-1fea-c37a-1ec663cab71f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":488.0,"y":-424.0},{"x":576.0,"y":-600.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"6c5b6e0a-f191-3252-9fa9-984b61652053","instanceIdentifier":"b3434278-ddd5-1fea-1834-1f125183a6a0","name":"","source":{"id":"0d2e57e0-1030-32b1-a03c-1b93a300872d","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock IBM","comments":"","instanceIdentifier":"b3434273-ddd5-1fea-c37a-1ec663cab71f"},"destination":{"id":"a8645ee0-52e4-3ab2-b938-234329a5cf41","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434262-ddd5-1fea-ed3a-ea0acc22bfd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"57bebf57-8fb6-3929-b3a7-1a53ce83b56b","instanceIdentifier":"b343428d-ddd5-1fea-cd76-d80f3638bfcc","name":"","source":{"id":"f702ef83-ab23-3177-92b5-99e8b9d618a6","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Update uuid, ts, and Symbol","comments":"","instanceIdentifier":"b3434270-ddd5-1fea-c6b0-d86b1c6de76e"},"destination":{"id":"0144f95b-1dd3-36d4-a029-724653a4e64e","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434263-ddd5-1fea-62e4-bdb6c45c67fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"dc270f0e-a530-3e24-b582-3a6c6498b919","instanceIdentifier":"b343427c-ddd5-1fea-5805-be41aab6855d","name":"","source":{"id":"caa6ea30-966e-3189-aeb8-e38b0ef5a5ce","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"ForkRecord","comments":"","instanceIdentifier":"b343426a-ddd5-1fea-b790-6619aa13e589"},"destination":{"id":"85357e14-f3f0-3498-b7c6-6b2fbc6a7d48","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434266-ddd5-1fea-5fbd-cfba0aa56efa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"2d5da1ac-a94c-355f-81c2-9b4708de76fe","instanceIdentifier":"b3434288-ddd5-1fea-3309-00cc30bc103f","name":"","source":{"id":"e1b552ac-99f8-3246-b9d3-6a1c545b2ad8","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"RetryFlowFile","comments":"","instanceIdentifier":"b3434274-ddd5-1fea-3e34-d1531478f60b"},"destination":{"id":"e6da2401-db4b-3a6c-a804-b7263d362d7d","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434265-ddd5-1fea-edc4-49eadc04173b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"3e4dbce2-26c0-3142-a281-ef5aa962bbd4","instanceIdentifier":"b3434275-ddd5-1fea-af15-b7626c48e9b4","name":"","source":{"id":"290cdf5e-979f-3137-945a-3829c0fde5ac","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Query and Convert","comments":"","instanceIdentifier":"b3434272-ddd5-1fea-21fe-c43b65cccba2"},"destination":{"id":"f702ef83-ab23-3177-92b5-99e8b9d618a6","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Update uuid, ts, and Symbol","comments":"","instanceIdentifier":"b3434270-ddd5-1fea-c6b0-d86b1c6de76e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"879d6ad7-beae-3fd3-8c06-cbd642d1a4d7","instanceIdentifier":"b3434280-ddd5-1fea-647a-9eeb5d46f184","name":"","source":{"id":"3a514e8c-a35f-3522-a3d8-2ec4086aecdc","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock SNOW","comments":"","instanceIdentifier":"b343426b-ddd5-1fea-c900-cc3d7d68619b"},"destination":{"id":"80818ec8-3c56-3392-b54d-0522fe5449f6","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b3434267-ddd5-1fea-937d-a1f7db86e87d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"2a8cca16-c70e-314e-ae85-6dac2325ef20","instanceIdentifier":"b3434283-ddd5-1fea-c169-d8d8a3df29d0","name":"","source":{"id":"f702ef83-ab23-3177-92b5-99e8b9d618a6","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Update uuid, ts, and Symbol","comments":"","instanceIdentifier":"b3434270-ddd5-1fea-c6b0-d86b1c6de76e"},"destination":{"id":"b830bff1-62e4-3de7-a1bc-eb14e4fe4b4a","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b343426e-ddd5-1fea-d055-4e8d29580121"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"0b8ca2cf-f38c-30ea-adb1-28107d25312a","instanceIdentifier":"b343427a-ddd5-1fea-ba9f-5014b2e025b8","name":"","source":{"id":"3a514e8c-a35f-3522-a3d8-2ec4086aecdc","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock SNOW","comments":"","instanceIdentifier":"b343426b-ddd5-1fea-c900-cc3d7d68619b"},"destination":{"id":"8f8979f0-a014-3c8d-879f-0bd77f2a0e98","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434264-ddd5-1fea-b4d0-e3509871372a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"71c111b4-b694-3b4f-b65e-cead77873005","instanceIdentifier":"b343428b-ddd5-1fea-32a9-0f26801996dc","name":"","source":{"id":"b830bff1-62e4-3de7-a1bc-eb14e4fe4b4a","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b343426e-ddd5-1fea-d055-4e8d29580121"},"destination":{"id":"0144f95b-1dd3-36d4-a029-724653a4e64e","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434263-ddd5-1fea-62e4-bdb6c45c67fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"9287a931-6dc2-3e71-9bc1-098b5a913035","instanceIdentifier":"b3434284-ddd5-1fea-dc23-c83e6071db11","name":"","source":{"id":"3a514e8c-a35f-3522-a3d8-2ec4086aecdc","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock SNOW","comments":"","instanceIdentifier":"b343426b-ddd5-1fea-c900-cc3d7d68619b"},"destination":{"id":"3a514e8c-a35f-3522-a3d8-2ec4086aecdc","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock SNOW","comments":"","instanceIdentifier":"b343426b-ddd5-1fea-c900-cc3d7d68619b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-174.0,"y":-400.0},{"x":-126.0,"y":-496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"f54269c8-4187-3fae-b3e0-111e973fea99","instanceIdentifier":"b3434286-ddd5-1fea-2a37-000ff7bdef00","name":"","source":{"id":"9cf1c082-38b7-3ea6-9fc5-dfb4750b827b","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b343426c-ddd5-1fea-de7b-f3552baffe44"},"destination":{"id":"dae8b43e-5467-33aa-a612-c11211bdab14","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Stocks","comments":"","instanceIdentifier":"b3434269-ddd5-1fea-e36d-05c3026db7bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"24354352-42c1-35be-a0bb-304202b190b6","instanceIdentifier":"b3434279-ddd5-1fea-e3ab-6b67ac90f606","name":"","source":{"id":"9f18b241-4d76-3dfc-ac1c-a6173ecb8ca0","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock GOOGLE","comments":"","instanceIdentifier":"b3434268-ddd5-1fea-1db6-f01b111ff24f"},"destination":{"id":"e5e4af7a-de3c-32ef-9e4b-21a6e1c87b30","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b343426f-ddd5-1fea-389c-29d1f7802fba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"71afe34f-de87-352d-9d85-a6c6d3ea457a","instanceIdentifier":"b3434277-ddd5-1fea-0db9-d31f59859204","name":"","source":{"id":"b830bff1-62e4-3de7-a1bc-eb14e4fe4b4a","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b343426e-ddd5-1fea-d055-4e8d29580121"},"destination":{"id":"164b05e2-85d7-3208-9b94-b937e256c99e","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b3434271-ddd5-1fea-648f-636955842252"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"5fe8da2e-c520-3a30-94b4-fc6c1d5b0bc9","instanceIdentifier":"b343427b-ddd5-1fea-6067-28852d2ab93f","name":"","source":{"id":"164b05e2-85d7-3208-9b94-b937e256c99e","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b3434271-ddd5-1fea-648f-636955842252"},"destination":{"id":"0144f95b-1dd3-36d4-a029-724653a4e64e","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434263-ddd5-1fea-62e4-bdb6c45c67fd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"4bf1c6d5-fb24-3133-b300-fdf5a1afefb3","instanceIdentifier":"b343427d-ddd5-1fea-9e97-ff0c5d30b324","name":"","source":{"id":"42af02b1-84b7-30fd-bbb8-8e67d9e414fe","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"b343426d-ddd5-1fea-79f1-8fb68ecc67e5"},"destination":{"id":"e1b552ac-99f8-3246-b9d3-6a1c545b2ad8","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"RetryFlowFile","comments":"","instanceIdentifier":"b3434274-ddd5-1fea-3e34-d1531478f60b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"e934e0d2-4366-324a-b158-b718bda0bdc8","instanceIdentifier":"b343427f-ddd5-1fea-3130-14f1707dd141","name":"","source":{"id":"e1b552ac-99f8-3246-b9d3-6a1c545b2ad8","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"RetryFlowFile","comments":"","instanceIdentifier":"b3434274-ddd5-1fea-3e34-d1531478f60b"},"destination":{"id":"42af02b1-84b7-30fd-bbb8-8e67d9e414fe","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"b343426d-ddd5-1fea-79f1-8fb68ecc67e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":184.0,"y":1240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"99feb6af-403a-3120-860d-175fa91d429b","instanceIdentifier":"b343428e-ddd5-1fea-36e0-e5fbdf5be074","name":"","source":{"id":"e5e4af7a-de3c-32ef-9e4b-21a6e1c87b30","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Set Stock Ticker","comments":"","instanceIdentifier":"b343426f-ddd5-1fea-389c-29d1f7802fba"},"destination":{"id":"dae8b43e-5467-33aa-a612-c11211bdab14","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Stocks","comments":"","instanceIdentifier":"b3434269-ddd5-1fea-e36d-05c3026db7bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"18b6bdde-8d5a-360a-889b-47fe651b4231","instanceIdentifier":"b3434282-ddd5-1fea-82d5-e077aa72b452","name":"","source":{"id":"9f18b241-4d76-3dfc-ac1c-a6173ecb8ca0","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Get Time Series Stock GOOGLE","comments":"","instanceIdentifier":"b3434268-ddd5-1fea-1db6-f01b111ff24f"},"destination":{"id":"a8645ee0-52e4-3ab2-b938-234329a5cf41","type":"FUNNEL","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Funnel","comments":"","instanceIdentifier":"b3434262-ddd5-1fea-ed3a-ea0acc22bfd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"f4c01e6d-b998-37f0-9751-9ef871ccc53e","instanceIdentifier":"b3434287-ddd5-1fea-d0d4-375af05fe81b","name":"","source":{"id":"164b05e2-85d7-3208-9b94-b937e256c99e","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"UpdateRecord timestamps","comments":"","instanceIdentifier":"b3434271-ddd5-1fea-648f-636955842252"},"destination":{"id":"42af02b1-84b7-30fd-bbb8-8e67d9e414fe","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"b343426d-ddd5-1fea-79f1-8fb68ecc67e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"c30aa84b-7973-37ba-93c1-9aae72d46d0c","instanceIdentifier":"b343427e-ddd5-1fea-ad95-bbcbb0b58d89","name":"testTest1","source":{"id":"dae8b43e-5467-33aa-a612-c11211bdab14","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"Stocks","comments":"","instanceIdentifier":"b3434269-ddd5-1fea-e36d-05c3026db7bb"},"destination":{"id":"caa6ea30-966e-3189-aeb8-e38b0ef5a5ce","type":"PROCESSOR","groupId":"9369c67e-1de3-344b-acba-71727e5d8fbc","name":"ForkRecord","comments":"","instanceIdentifier":"b343426a-ddd5-1fea-b790-6619aa13e589"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"}],"labels":[{"identifier":"c93b8452-9417-3b7d-886e-373825c8bca0","instanceIdentifier":"b3434260-ddd5-1fea-02c1-67f353ca1c5b","position":{"x":2488.0,"y":305.0},"label":"Other options:\nhttps://www.alphavantage.co/support/#api-key.  500 per day\n\n\nhttps://polygon.io/dashboard/api-keys\n5 per minute\n\n\nhttps://finnhub.io/docs/api\n30 per minute\n","zIndex":0,"width":840.0,"height":192.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"3255b193-f102-3092-872c-56b2d42b7ff3","instanceIdentifier":"b3434261-ddd5-1fea-8494-8f811999de28","position":{"x":2704.0,"y":137.0},"label":"Out of Call Quota\n{\"code\":429,\"message\":\"You have reached the API calls limit\n800 call a day","zIndex":0,"width":384.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"}],"funnels":[{"identifier":"85357e14-f3f0-3498-b7c6-6b2fbc6a7d48","instanceIdentifier":"b3434266-ddd5-1fea-5fbd-cfba0aa56efa","position":{"x":976.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"8f8979f0-a014-3c8d-879f-0bd77f2a0e98","instanceIdentifier":"b3434264-ddd5-1fea-b4d0-e3509871372a","position":{"x":-152.0,"y":-287.0},"componentType":"FUNNEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"a8645ee0-52e4-3ab2-b938-234329a5cf41","instanceIdentifier":"b3434262-ddd5-1fea-ed3a-ea0acc22bfd3","position":{"x":1008.0,"y":-768.0},"componentType":"FUNNEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"e6da2401-db4b-3a6c-a804-b7263d362d7d","instanceIdentifier":"b3434265-ddd5-1fea-edc4-49eadc04173b","position":{"x":424.0,"y":1544.0},"componentType":"FUNNEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"0144f95b-1dd3-36d4-a029-724653a4e64e","instanceIdentifier":"b3434263-ddd5-1fea-62e4-bdb6c45c67fd","position":{"x":1072.0,"y":649.0},"componentType":"FUNNEL","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"}],"controllerServices":[{"identifier":"1ccddd58-caaf-3e35-91e9-ac4654bd2a4d","instanceIdentifier":"b3434258-ddd5-1fea-c1fb-eb08b7c7afe1","name":"SchemaAwareJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"39a67cd9-0ed7-3cb1-a68d-3dffed8aae10","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"d65bea6b-55c0-368e-b3f3-aaced7553d75","instanceIdentifier":"b3434259-ddd5-1fea-bae3-7b98684c0bac","name":"pgsql","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"3","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://stampy.db.elephantsql.com:5432/hqcpwqca","dbcp-time-between-eviction-runs":"-1","Database User":"hqcpwqca","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nvidia/nvme/nifi-1.14.0/postgresql-42.3.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"39a67cd9-0ed7-3cb1-a68d-3dffed8aae10","instanceIdentifier":"b343425e-ddd5-1fea-8603-06861eb26a2a","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"avro-reg-validated-field-names":"false","stocks":"{ \"type\" : \"record\", \"name\" : \"stocks\", \n\"fields\" : [ \n{ \"name\" : \"symbol\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"uuid\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"ts\", \"type\" : [\"long\"], \"default\": 1, \"logicalType\": \"timestamp-millis\"},\n{ \"name\" : \"dt\", \"type\" : [\"long\"], \"default\": 1, \"logicalType\": \"timestamp-millis\"},\n{ \"name\" : \"datetime\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"open\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"close\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"high\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"volume\", \"type\" : [\"null\", \"string\"]}, \n{ \"name\" : \"low\", \"type\" : [\"null\", \"string\"]}\n] }"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"stocks":{"name":"stocks","displayName":"stocks","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"21f57033-41c8-354b-8e1b-6adacb813926","instanceIdentifier":"b3434257-ddd5-1fea-1235-7207c2587e7c","name":"CDP Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"fa6a4e36-d871-3f46-b348-ed50530c4943","instanceIdentifier":"b343425c-ddd5-1fea-7a66-fcfc2221de4f","name":"Altinity Cloud Clickhouse","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"ru.yandex.clickhouse.ClickHouseDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"1","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:clickhouse://streamnative.osacon2021.altinity.cloud:8443/default?ssl=true","dbcp-time-between-eviction-runs":"-1","Database User":"admin","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/home/nvidia/nvme/clickhouse-jdbc-0.3.1-patch-shaded.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"8a157e28-2a45-3e13-a2ed-e21b7b299d2c","instanceIdentifier":"b343425f-ddd5-1fea-cc96-6138e2e62a8b","name":"Standard Inherit JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":"yyyy-mm-dd HH:mm:ss","Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"e8e38a2a-8403-3ebd-866a-d574b4a54ed2","instanceIdentifier":"b343425d-ddd5-1fea-51eb-66d82ca108c3","name":"Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"65082c66-1ad9-3cd8-b360-8b2bddf216b4","instanceIdentifier":"b343425a-ddd5-1fea-c26c-c0caac12778a","name":"CDP Infer JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"},{"identifier":"4da04a97-ad6f-34cb-9c93-677c9fe5d536","instanceIdentifier":"b343425b-ddd5-1fea-c7e3-eca2338f4cf6","name":"Standard Inherit JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9369c67e-1de3-344b-acba-71727e5d8fbc"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}